@media print {
  .screen-only {
    display: none;
  }
}

@media screen {
  .print-only {
    display: none;
  }
}

@media only screen and (min-width: 2096px) {
  body {
    background: orange;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1024px) {
  body {
    background: gold;
  }
  .container-flexbox > div {
    width: 31.3%;
  }
  .container-grid-regular {
    grid-template-columns: 32% 32% 32% ;
  }
}

@media only screen and (min-width: 641px) and (max-width: 800px) {
  body {
    background: silver;
  }
  .container-flexbox > div {
    width: 48%;
  }
  .container-grid-regular {
    grid-template-columns: 49% 49% ;
  }
}

@media (max-width: 640px) {
  body {
    background: #cd7f32 ; /* bronze; */
  }
  .container-flexbox > div {
    width: 100%;
  }
  .container-grid-regular {
    grid-template-columns: 100% ;
  }
}


@media screen and (min-width: 601px) and (max-width: 1024px) {
   /*
     Grid - regular layout - for IE 10/11 only.
   */
   .container-grid-regular {
     -ms-grid-columns: 49% 2% 49%;
     -ms-grid-rows: auto 1em auto 1em auto 1em auto 1em auto 1em auto 1em auto 1em auto 1em auto 1em auto 1em auto 1em auto 1em auto 1em auto 1em ;
   }
  .container-grid-regular > div:nth-child(1)   { -ms-grid-row:  1; -ms-grid-column:  1; }
  .container-grid-regular > div:nth-child(2)   { -ms-grid-row:  1; -ms-grid-column:  3; }

  .container-grid-regular > div:nth-child(3)   { -ms-grid-row:  3; -ms-grid-column:  1; }
  .container-grid-regular > div:nth-child(4)   { -ms-grid-row:  3; -ms-grid-column:  3; }

  .container-grid-regular > div:nth-child(5)   { -ms-grid-row:  5; -ms-grid-column:  1; }
  .container-grid-regular > div:nth-child(6)   { -ms-grid-row:  5; -ms-grid-column:  3; }

  .container-grid-regular > div:nth-child(7)   { -ms-grid-row:  7; -ms-grid-column:  1; }
  .container-grid-regular > div:nth-child(8)   { -ms-grid-row:  7; -ms-grid-column:  3; }

  .container-grid-regular > div:nth-child(9)   { -ms-grid-row:  9; -ms-grid-column:  1; }
  .container-grid-regular > div:nth-child(10)  { -ms-grid-row:  9; -ms-grid-column:  3; }

  .container-grid-regular > div:nth-child(11)  { -ms-grid-row: 11; -ms-grid-column:  1; }
  .container-grid-regular > div:nth-child(12)  { -ms-grid-row: 11; -ms-grid-column:  3; }

  .container-grid-regular > div:nth-child(13)  { -ms-grid-row: 13; -ms-grid-column:  1; }
  .container-grid-regular > div:nth-child(14)  { -ms-grid-row: 13; -ms-grid-column:  3; }

  .container-grid-regular > div:nth-child(15)  { -ms-grid-row: 15; -ms-grid-column:  1; }
  .container-grid-regular > div:nth-child(16)  { -ms-grid-row: 15; -ms-grid-column:  3; }

  .container-grid-regular > div:nth-child(17)  { -ms-grid-row: 17; -ms-grid-column:  1; }
  .container-grid-regular > div:nth-child(18)  { -ms-grid-row: 17; -ms-grid-column:  3; }

  .container-grid-regular > div:nth-child(19)  { -ms-grid-row: 19; -ms-grid-column:  1; }
  .container-grid-regular > div:nth-child(20)  { -ms-grid-row: 19; -ms-grid-column:  3; }

  .container-grid-regular > div:nth-child(21)  { -ms-grid-row: 21; -ms-grid-column:  1; }
  .container-grid-regular > div:nth-child(22)  { -ms-grid-row: 21; -ms-grid-column:  3; }

  .container-grid-regular > div:nth-child(23)  { -ms-grid-row: 23; -ms-grid-column:  1; }
  .container-grid-regular > div:nth-child(24)  { -ms-grid-row: 23; -ms-grid-column:  3; }

  .container-grid-regular > div:nth-child(25)  { -ms-grid-row: 25; -ms-grid-column:  1; }
  .container-grid-regular > div:nth-child(26)  { -ms-grid-row: 25; -ms-grid-column:  3; }


  /*
    Grid - mixed layout - for IE 10/11 only.
  */
    .container-grid-mixed {
      -ms-grid-columns: 49% 2% 49% ;
      -ms-grid-rows: auto 1em auto 1em auto 1em auto ;

      grid-template-columns: 49% 49% ;
    }

    .container-grid-mixed .a { -ms-grid-row: 1;  -ms-grid-column: 1;  -ms-grid-row-span: 1;  -ms-grid-column-span: 3; }
    .container-grid-mixed .b { -ms-grid-row: 3;  -ms-grid-column: 1;  -ms-grid-row-span: 1;  -ms-grid-column-span: 3; }
    .container-grid-mixed .c { -ms-grid-row: 5;  -ms-grid-column: 1;  -ms-grid-row-span: 1;  -ms-grid-column-span: 1; }
    .container-grid-mixed .d { -ms-grid-row: 5;  -ms-grid-column: 3;  -ms-grid-row-span: 1;  -ms-grid-column-span: 1; }
    .container-grid-mixed .e { -ms-grid-row: 7;  -ms-grid-column: 1;  -ms-grid-row-span: 1;  -ms-grid-column-span: 3; }

    /* Non IE 10/11 */
    .container-grid-mixed .a { grid-column: 1 / 3 ; }
    .container-grid-mixed .b { grid-column: 1 / 3 ; grid-row: auto;}
    .container-grid-mixed .c { grid-column: 1 ; }
    .container-grid-mixed .d { grid-column: 2 ; }
    .container-grid-mixed .e { grid-column: 1 / 3 ; }

}


@media screen and (max-width: 600px) {
   /* turn off the grid styling */
   .container-grid-regular ,
   .container-grid-mixed {
     display: block ;
   }
     .container-grid-regular > div ,
     .container-grid-mixed > div {
       margin-bottom: 1em;
     }
  }
