$pcolour: orange;
$pcolour2: green;
$border-colour: silver;
$header-colour: green;
$li-colour: blue;

@mixin pstyle {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2rem;
  margin: 1rem 0 1.25rem 0;
  padding-left: 1rem;
  border-left: 3px dotted $border-colour;
  color: $pcolour;
}



/* ** box model **
  Apply a natural box layout model to all elements
   - in other words, when working out the width of the elements, ignore borders/padding - just say what you want!
   - margins are added to the width though ...
   - see: http://wtfhtmlcss.com/ and http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html,
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: arial,sans-serif;
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
    color: $header-colour;
}
p {
  @include pstyle ;
}

#section2 {

  p {
    color: $pcolour2 ;
  }

}

.container {
  max-width: 1440px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: white;
}

header, nav, main, section, aside, footer {
  border: 1px dotted $border-colour;
  margin: 1em 0;
  padding: 1em;
}

main {
  display: block;
  /* sigh! IE doesn't know it is a block element ... */
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: $li-colour;
}


a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: green;
  text-decoration: underline;
}

aside a::before {
  content: "\21d2 ";
}

p::selection {
  color: pink;
  background: grey;
}